.common-button {
    background-color: #FFC727;
    color: #171718;
    border: none;
    border-radius: 100px 100px 100px 100px;
}

.common-button:hover {
    background-color: #FFC727;
    color: #171718;
}

.info-card-section {
    color: #6422DB;
}

.info-card h1 {
    color: #25234D;
}

.info-card-description {
    color: #0B132A;
}
