.nav-item {
    font-weight: 100;
}

.navbar {
    background-color: white;
}

.menu-icon {
    color: green;
    padding: 10px;
}

.mobile-nav-item {
    font-size: 12px;
    padding-left: 10px;
    font-weight: 100;
    color: black !important;
    text-transform: uppercase;
}