

footer{
position:bottom;
left:0;
bottom:0;
right:0; 

}

.view-repo {
    color: #0084b2 !important;
}

.contact-icon {

    padding-left: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.view-repo {
    padding-left: 50%;

}