/* general styling */

/* Button  */
.common-button {
  background-color: #ffc727;
  color: #171718;
  border: none;
  border-radius: 100px 100px 100px 100px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.common-button:hover {
  background-color: #ffc727 !important;
  color: #ffc727;
}

/* Information Card */
.info-card-section {
  color: #6422db;
}
h1 {
  color: #25234d;
  font-weight: bold;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
p {
  color: #0b132a;
}
