
span {
  float: left !important;
  margin-top: 20px !important;
  /* size: 20px; */
}
.nav-item {
  font-weight: 100;
  color: black !important;
  font-family: Poppins !important;
  font-style: normal;
  /* font-weight: 600;
  font-size: 20px;
  line-height: 30px; */
  text-transform: capitalize !important;
  padding-right: 10%;
  
}

img {
    /* padding-left: 20%; */
    margin-left: 40%;

}
.uk-navbar-center:only-child, .uk-navbar-left, .uk-navbar-right {

    margin-left: 30%;
}
.nav-item:hover {
  color: #0084b2 !important;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: white;
}

.uk-navbar-container {
  background-color: white;
}

.uk-navbar-item.uk-logo {
  align-items: left !important;
}

.nav-item:hover,
.menu-icon:hover {
  color: #0084b2 !important;
}



