/* uk-container-first wraps the background so that it encloses the entirescreen */
#section5-wrapper {
  /* Background color */
  margin: 0px 0px 0px 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  /* border-top-left-radius: 50% 40%; */
  /* Curved corners */
  /* border-bottom-right-radius: 30% 20%; */
  background: url(./images/Group.png) right center no-repeat,
  url(./images/About-Us-Circle.png)  right center no-repeat,
 rgba(255, 255, 255, 0.746);
 background-size: 600px, 300px;
}


/*changed the section-container id of each section*/
#sectionFive {
  margin-right: 700px;
  padding-top: 30px;
  padding-bottom: 20px;
  animation: bounceInLeft;
  animation-duration: 2s;
  border-color: 1px solid rgb(61, 60, 60);
  padding: 7%;
  border-radius: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
/* max width says at this and below do this styling */
@media only screen and (max-width: 1200px) {
  #section5-wrapper {
    /* Background color */
    margin: 0px 0px 0px 0px;
    /* border-bottom-left-radius: 50% 40%; */
    /* Curved corners */
    /* border-bottom-right-radius: 30% 20%; */
    background: url(./images/Group.png) left top no-repeat,
    url(./images/About-Us-Circle.png)  left top no-repeat,
   rgba(255, 255, 255, 0.746);
   background-size: 300px, 150px;
  }


  #sectionFive {
    margin-right: 50px;
    padding-top: 3px;
    padding-bottom: 2px;
    animation: bounceInLeft;
    animation-duration: 2s;
    border-color: 1px solid rgb(61, 60, 60);
    padding: 7%;
    border-radius: 5px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }
}

@media only screen and (max-width: 540px) {
  #sectionFive {
    width: 60%;
    padding-left: 30%;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 300px) {
  #sectionFive {
    width: 60%;
    padding-left: 30%;
    padding-top: 50px;
  }
  .uk-container > :last-child {
    width: 60%;
    /* margin-right: 100px; */
    padding-left: 30%;
    padding-top: 50px;
    font-size: small;
  }
}


